main{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.container{
    display: flex;
    flex-direction: column;
}

.card-laptop{
    width: 500px;
    height: 700px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px gray;
    border-radius: 10px;

}
.laptop-img{
    height: 250px;
    width: 250px;
}
h3{
    text-align: center;
    
}

.input-card{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.input-card input{
    border-radius: 10px;
    border: solid 1px gray;
    margin: 15px;
    font-size: 20px;
}
.selectcolor{
    border-radius: 10px;
    border: solid 1px gray;
    margin: 15px;
    font-size: 20px;
}
.btntotal{
    display: flex;
    padding: 10px;
    align-items: center;
    background-color: yellow;
    font-size: 20px;
    align-self: center;
}
p{
    font-size: 30px ;
    text-align: center;
    margin: 15px;
}
.info-card{
    display: flex;
    align-items: center;
    margin: 30px;
}
.container-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
}
.container-info p{
    margin: 0;
}
.colorinfo{
    width: 50px;
    height: 50px;
    margin: 20px;
    border-radius: 50%;
    /* border: 30px solid black; */
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
}
